VideoManager/target/
VideoManager/.settings/
!VideoManager/.mvn/wrapper/maven-wrapper.jar
HELP.md
!**/src/main/**
!**/src/test/**

### STS ###
VideoManager/.apt_generated
VideoManager/.classpath
VideoManager/.factorypath
VideoManager/.project
VideoManager/.settings
VideoManager/.springBeans
VideoManager/.sts4-cache


HELP.md
user-management/target/
!user-management/.mvn/wrapper/maven-wrapper.jar
user-management/bin
### STS ###
user-management/.apt_generated
user-management/.classpath
user-management/.factorypath
user-management/.project
user-management/.settings
user-management/.springBeans
user-management/.sts4-cache

HELP.md
notification-service-final/target/
!notification-service-final/.mvn/wrapper/maven-wrapper.jar
notification-service-final/bin
### STS ###
notification-service-final/.apt_generated
notification-service-final/.classpath
notification-service-final/.factorypath
notification-service-final/.project
notification-service-final/.settings
notification-service-final/.springBeans
notification-service-final/.sts4-cache